[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-auth = "~=2.0"
google-cloud-datastore = "~=2.0"
requests = "~=2.0"

[dev-packages]
build = "*"
twine = "*"
viur-datastore = {file = ".", editable = true}
coverage = "*"

[requires]
python_version = "3.9"

[en]
